<h2 class="mb-3">Tambah Karyawan</h2>
<form ng-submit="addEmployee()" class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Nama</label>
    <input type="text" class="form-control" ng-model="employee.Name" required />
  </div>

  <div class="col-md-6">
    <label class="form-label">Jabatan</label>
    <input type="text" class="form-control" ng-model="employee.Position" />
  </div>

  <div class="col-md-6">
    <label class="form-label">Gaji</label>
    <input
      type="number"
      class="form-control"
      ng-model="employee.Salary"
      required
    />
  </div>

  <div class="col-md-6">
    <label class="form-label">Departemen</label>
    <select
      class="form-select"
      ng-model="employee.DepartmentID"
      ng-options="d.DepartmentID as d.DepartmentName for d in departments"
      required
    >
      <option value="">-- Pilih Departemen --</option>
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-success">Simpan</button>
  </div>
</form>
